a, span,
body, html, div, p,
h1, h2, h3, h4, h5, h6,
form, img, label, caption,
li, ol, ul,
table, tbody, td, tfoot, th, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body, button, html, input {
  line-height: normal;
  padding: 0;
}

body, html {
  background: #fff;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  word-wrap: break-word;
  text-size-adjust: none;
  color: #000;
  font: 400 14px/normal Arial,sans-serif;
  font-smoothing: antialiased;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  margin: 0;
  display: block;
}

*, a:active, a:focus, a:hover,
button, select, textarea
input:active, input:focus,
{
  outline: 0;
}

menu, ol, ul {
  list-style: none;
}

a {
  cursor: pointer;
}
